*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    /* border: 1px solid rgb(255, 255, 255); */
    color: #ffffffec;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.head,.top_med,#sbox,#logo,.full,.day,aside{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.apicredit{
    width: 10vw;
}
body{
     background-color: #111;
     min-height: 100vh;
     width: 100%;
     display: flex;
     justify-content: space-evenly;
     flex-direction: column;
}
.head,#sbox{
    height: 13vh;
    width: 100%;
}
.top_med{
    height: 100%;
    width: 80%;
}
#logo,aside{
    height: 100%;
    width: 20%;
}
/* Style the autocomplete container */
.autocomplete {
    position: absolute;
    display: inline-block;
}

/* Style the input field */
input[type="text"] {
    width: 77vw;
    margin-top: -3vw;
    height: 6.5vh;
    border-radius: 20px;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba(0, 1, 20, 0.37);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 1vw;
    font-size: 1vw;
    font-weight: 600;
    border: none;
}

/* Style the autocomplete items */
.autocomplete-items {
    position: absolute;
    border: 1px solid #ddd;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    margin-left: 1vw;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba(0, 1, 20, 0.37);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    max-height: 300px;
    overflow-y: scroll;
}

/* Style the autocomplete item when hovering */
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba(0, 1, 20, 0.37);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-bottom: 1px solid #ddd;
}

/* Style the autocomplete item on focus */
.autocomplete-items div:hover {
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba(0, 1, 20, 0.37);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#sbox {
    display: flex;
    width: 30vw;
    height: 6vh;
    border-radius: 3vh;
    position: absolute;
    margin-top: 40px;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

#err {
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    color: #ff0000;

}

#highlights{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.index{
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    color: #c5c5c5fb;
    padding: 1vw;
}
.aqipics{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 98%;
    height: 80%;
}
.aqipic{
    height: 70%;
    width: 19.5%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.aqi-logo{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#logo{
    font-size: 3vw;
    font-weight: 800;
}
aside{
    height: 85vh;
    flex-direction: column;

}
main{
    height: 86vh;
    width: 80%;
    overflow-y: scroll;
}
main::-webkit-scrollbar {
    width: 1px;
    }
    
    /* Track */
    main::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgb(0, 0, 0); 
    }
    
    /* Handle */
    main::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
    }
    
    /* Handle on hover */
    main::-webkit-scrollbar-thumb:hover {
    background: #000000; 
    }
#today,#days{
    min-height: 38vh;
    width: 40vh;
}
#today{
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba(0, 1, 20, 0.37);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 1vw;
    padding: 1vh;

}
.mainTop{
    width: 98%;
    height: 58vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba(0, 1, 20, 0.37);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 1vw;
}
#subdiv1,#subdiv2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 98%;
     height: 45%; 
}

#aqi,#riseset,.others{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 49%;
    height: 98%;
}
#aqi,#riseset{
    flex-direction: column;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba(0, 1, 20, 0.37);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
}
.others{
    width: 24%;
    height: 90%;
    flex-direction: column;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba(0, 1, 20, 0.37);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
}
.th{
    width: 98%;
}


.setday{
    width: 40%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.riseday{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    width: 100%;

}
.font{
    font-size:13px ;
    font-weight: 600;
    color: #c5c5c5;
}
.fontH{
    font-size:28px ;
    font-weight: 600;
    color: #ffffff;
}





#time{
    font-weight: 600;
   width: 100%;
   height: 25vh;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: column;
}
.timeshift1{
   color: #e4e4e4c7;
}
#time p{
   width: 100%;
   color: #ffffff;
   font-size: 15px;
   font-weight: 600;
   padding-left: 1vw;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

 }
 .today-at{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   height: 20vh;
   width: 100%;
   font-size: 15px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

 }
 .times{
   height: 90%;
   width: 24%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: column;
   background: rgba( 255, 255, 255, 0.1 );
   box-shadow: 0 8px 32px 0 rgba(0, 1, 20, 0.37);
   backdrop-filter: blur( 5px );
   -webkit-backdrop-filter: blur( 5px );
   border: 1px solid rgba( 255, 255, 255, 0.18 );
   color: #FFF;
   border-radius: 10px;
 }
 .timeicon1,.temperature-icon{
    height: 30px;
    width: 30px;
 }

 #dayicon1,#dayicon2,#dayicon3,#dayicon4,#dayicon5,#icon1,#icon2,#icon3,#icon4{
   height: 100%;
   width: 100%;
   background-image: url("https://openweathermap.org/themes/openweathermap/assets/vendor/owm/img/widgets/04d.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }






.footerE{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer {
    background-color: #000000b7;
    color: white;
    padding: 20px;
    bottom: 0;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

}

footer img {
    height: auto;
    width: 80px;
}

.credits {
    margin-top: 10px;
    display: flex;
    width: 15%;
    height: 8%;
}

.cre {
    width: 100%;
    font-size: 15px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    
    height: 20vh;
}

.cre ul {
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

ul a {
    color: rgb(255, 255, 255);
}
ul a:hover{
    color: aliceblue;
    font-size: 17px;
}
.credit{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 80%;
    flex-direction: column;
}
.ulf{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.apicredit{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
.credit h3{
    width: 87%;
}
.todar-top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50%;
}
#img{
    height: 70%;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.now{
    font-size: 3vw;
    font-weight: 600;
}
.temp,.weather-cond,.date,.loc{
    font-weight: 400;
}
.today-bottom{
    display: flex;
    align-items:center;
    margin-top: 1vw;
    font-weight: 400;
}
.locicon,.dateicon{
    height: 1vw;
    width: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}
.day{
    height: 5vh;
    margin-top: 2vh;
    font-weight: 400;
    border-bottom: 1px solid #bebebec5;
}
#days{
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba(0, 1, 20, 0.37);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 1vw;
    padding: 1vh;
}
.forecast{
    font-weight: 600;
    color: #ffffff;
}
.value{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}
